.four_pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.25);
}
.picture_vertical{
    margin: 20px;
    width: 20%;
    color: white;
    text-align: center;
}
.picture_vertical img{
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0.95;
}
@media only screen and (max-width: 900px){
    .picture_vertical{
        width: 40%;
        margin: 5px;
    }

}