section{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 20px 5px;
}
.text{
    margin: 0px;

}
h2{
    margin: 0px;
}
img{
    margin: 0px 10px;
}
@media only screen and (max-width: 640px){
    section{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    img{
        width: 80%;
    }
}