section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}
.page{
    background-image: url("../../media/background.png");
    background-size: cover;
    background-position: center;
}